@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import "../fonts/font.css"

F_Julius = 'Julius Sans One', sans-serif;
F_Ms = 'Montserrat', sans-serif;
C_Pink = #ee99a6

*
  font-family: F_Ms;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box

body
  margin: 0
  padding: 0

button
  font-family:F_Ms!important
  font-weight: bold

.wrapper
  margin: 0

.header
  background-color: #1a1a1a
  width: 100%
  padding: 10px 20px

.header-logo
  width: 60px
  float: left
  margin-right: 20px

.header-title
  font-size: 24px
  font-family: F_Julius
  letter-spacing .1em
  color: #ddd
  margin: 0
  line-height: 60px
  font-weight: bold

.header-right
  line-height: 60px
  color: #fff
  font-size: 18px
  font-family:F_Julius
  text-align: right

.header-right-user
  margin: 0 30px


//MAIN
.main
  height:calc(100vh - 80px)
  overflow-y auto
  &::-webkit-scrollbar
    width: 12px

  &::-webkit-scrollbar-track-piece
    background-color: #fff

  &::-webkit-scrollbar-thumb:vertical
    height: 5px
    background-color: hsla(0, 0%, 66%, 0.6)

  &::-webkit-scrollbar-thumb:vertical:hover
    height: 5px
    background-color: hsla(0, 0%, 66%, 0.9)

//NotFound
.notfound-wrapper
  padding: 40px
  border:5px solid #333333aa
  margin: 40px
  border-radius 10px
.notfound-tag
  height: 60px
  line-height: 60px
  font-size: 45px
  color: #666
  text-shadow 0 10px 10px #96836e
  font-family:F_Ms

//ASIDE
.aside
  height: calc(100vh - 80px)
  position: relative
  overflow hidden

.aside-menu
  height: calc(100% - 50px)
  overflow-y auto
  &.active
    width: 240px

.aside-collapse
  position: absolute
  width: 100%
  bottom: 0
  left: 0
  padding: 0 20px;
  border-right: 1px solid #ddd;
  text-align: right

  z-index: 1
  [class*='icon']
    display: block
    height: 50px
    line-height: @height
    color: #333
    cursor: pointer
    font-size: 24px
  &:hover
    background-color: #eee

.aside-menu-icon
  margin-right: 10px
  font-size: 20px
  color: #666
    
//VIEW
.view-wrapper{
  padding: 10px 10px
}
.view-title
  font-family:F_Julius
  font-size: 36px
  margin: 0 0 30px 0
  color: #333
  border-left:10px solid currentColor
  padding-left: 15px

//FORM
.form .form-input-s
  width: 100%

.pagination-wrapper
  padding: 0
  margin: 20px 0

@import "login.styl"
@import "web.styl"