.wp-edit
  section
    margin-bottom: 40px
    &:last-child
      margin-bottom: 0
.wp-edit-wall .el-upload--picture-card
  width: 100px
  height: 100px
  line-height: 98px

.wp-edit-wall .el-upload-list--picture-card .el-upload-list__item
  width: 100px
  height: 100px
  img
    object-fit cover

.wp-edit-wall
  width: 350px


.wp-edit-title
  font-weight: bold
  font-size: 18px
  color: #666
  word-spacing .3em


.wp-edit-form
  max-width: 600px
  margin: 20px 0

.wp-edit-tip
  color: #666
  font-size: 12px
  margin: 10px 0

.wp-edit-banner-thumb
  width: 200px
  margin: 0 0 10px 0

.wp-preview
  padding: 0 20px
  border-left: 1px solid #ddd
  img
    border-radius 3px
  section
    margin-bottom: 20px
    &:last-child
      margin-bottom: 0

.wp-preview-title
  color: C_Pink
  font-size: 14px
  font-weight: bold
  margin: 0 0 10px 0

.wp-preview-banner img
  width: 100%

.wp-preview-wall-list
  max-width 600px
  list-style none
  margin: 0
  padding: 0
  display grid
  grid-template-columns repeat(3,1fr)
  grid-gap 10px
  img
    width: 100%
    height: 100%
    object-fit cover
